/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

/* Header */
header {
  text-align: center;
  padding: 50px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

header p {
  margin-top: 10px;
  font-size: 18px;
}

/* About Section */
.about {
  display: flex;
  max-width: 900px;
  margin: 50px auto;
  gap: 30px;
  align-items: center;
}

.about img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

/* Projects Section */
.projects {
  text-align: center;
  padding: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-5px);
}

/* Footer */
footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  background-color: #222;
  color: white;
}
